/*: Desktop styles  */
.topheader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--theme-color);
  box-shadow: 0 4px 5px var(--navbar-shadow-color);
}

.darkShadow {
  box-shadow: 0 4px 5px black;
}

.topnav {
  /** Reducir el tamaño del viewport y centrar los elementos dentro del bloque */
  position: relative;
  max-width: 61.3em; /* 61.3em = 980px */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6em; /* 0.625em = 10px */
}

/*_ Logo */
.logo {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: var(--logo-color);
  font-family: var(--font-logo);
}

.logo img {
  border-radius: 50%;
}

.logotype {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 1em;
  font-size: 1.1em; /* 1.125em = 10px */
  color: var(--logotype-color);
  font-weight: bold;
}

.logo span {
  font-size: 0.8em; /* 0.75em = 12px */
  font-style: italic;
  text-align: center;
}

/*_ Darkmode styles  */
.moon {
  width: 1.8em; /* 1.8375em = 29.4px */
  height: 1.9em; /* 1.9063em = 30.5px */
  margin-right: 2.5em; /* 2.5em = 40px */
  align-self: center;
}

#icon {
  cursor: pointer;
}

/*_ Menu de navegación */
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 0 0.9em; /* 0.9375em = 15px */
}

.menu a {
  color: var(--text-color);
  font-size: 1.2em; /* 1em = 16px */
  font-weight: 500;
  line-height: 1.4;
  text-transform: uppercase;
  position: relative;
}

.menu a::after {
  content: "";
  background-color: var(--logotype-color);
  position: absolute;
  left: 0;
  /** Para separar el rectangulo amarillo del texto, se usa el parametro "calc", ya que CSS no soporta operaciones matemáticas directas (ejemplo: 100% + 6px) */
  top: calc(100% + 6px);
  width: 100%;
  height: 4px;
  opacity: 0;
  transition: opacity 0.5s;
}

/** Por defecto apagamos el rectangulo de todos los "li" (opacity:0;), excepto el "li" principal y cuando otro "li" sea seleccionado, prendemos su rectangulo (opacity:0.8); */

.menu a.selected::after,
.menu a:hover::after {
  opacity: 0.8;
}

.menu a:hover {
  color: var(--primary-color);
}

/** Apagamos los botones, para prenderlos en la Media Queries  */

.open-menu,
.close-menu {
  display: none;
}

/*: smartphones & iPad portrait styles  */
@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    background-color: var(--menu-mobile-background-color);
    height: 100%;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
  }

  .menu li {
    padding: 0;
  }

  .menu a {
    color: var(--white-color);
    line-height: 3.8em; /* 3.75em = 60px */
    font-size: 1.3em; /* 1.25em = 20px */
  }

  .open-menu,
  .close-menu {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
  }
  /** Reubicación del icono hamburguesa */
  .open-menu {
    position: absolute;
    top: 1.8em; /* 1.7813em = 28.5px */
    right: 5em; /* 5em = 80px */
  }

  .close-menu {
    align-self: flex-end;
    padding: 1.6em 1em; /* 1.5625em = 25px & 1em = 16px */
  }

  /** Un programa de JavaScript (botonApp), adjuntará o quitará la clase "menu-opened" al tag UL con la clase "menu"; cuando detecte (addEventListener) un "click" sobre el icono "X" (clase close-menu) o sobre el icono hamburguesa (clase open-menu). */

  .menu_opened {
    opacity: 1;
    pointer-events: all;
  }

  /** Elimina el borde que se forma alrrededor de los iconos "X" y "hamburguesa" cuando el usuario solo se posiciona encima de ellos, sin llegar a darles "click" */

  .open-menu:focus:not(:focus-visible),
  .close-menu:focus:not(:focus-visible) {
    outline: none;
  }

  .menu a::after {
    content: none;
  }

  .menu a:hover,
  .menu a.selected {
    color: var(--secondary-color);
  }
}
