/*: Desktop styles */
.letter-container {
  margin: 2.5em auto;
  display: flex;
  justify-content: center;
  font-weight: 300;
  width: 100%;
  border: 1px solid green;
}

.letter {
  position: relative;
  background-color: var(--white-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  width: 31.3rem;
  height: 37.5rem;
  transform-style: preserve-3d;
  transform: perspective(2000px);
  transition: 1s;
}

.letter:hover {
  transform: perspective(2000px) rotate(-5deg);
}

.letter .imgBox {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transform-origin: left;
  z-index: 1;
  transition: 1s;
}

.letter:hover .imgBox {
  transform: rotateY(-135deg);
}

.letter .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.letter .letter-details {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 0.625rem;
}

.letter .letter-details h3 {
  text-align: center;
  font-size: 1.1em;
  padding: 0.1em 0 0.2em 0;
  margin: 0;
  color: var(--letter-color);
  font-weight: normal;
  font-style: normal;
}

.letter .letter-details p {
  text-align: justify;
  margin: 0.6em auto;
  line-height: 1.5;
  letter-spacing: 0.2px;
  padding: 0px 0.6em;
  font-size: 0.82em;
  font-family: var(--font-coverLetter);
  font-weight: normal;
  color: var(--letter-color);
  background-color: var(--theme-color);
}

.letter .letter-details p span {
  font-size: 0.8em; /* 0.6875em = 11px */
  color: var(--letter-color);
}

.letter .letter-details p a {
  color: var(--main-color);
  text-decoration: underline;
}

@keyframes moverImg {
  0% {
    transform: translate(100%);
  }
}

.mobile_coverLetter {
  display: none;
}
/*: Smartphone iPhone 6/7/8 Plus  */
@media screen and (min-width: 376px) and (max-width: 414px) {
  .mobile_letter-container {
    border: 2px solid red;
  }
}

/*: Smartphone Samsung   */
@media only screen and (max-width: 500px) {
  .mobile_letter .mobile_letter-details p {
    margin: 10px 10px;
    line-height: 1.8;
    letter-spacing: 0.3px;
    font-size: 0.9em;
  }
}

/*: iPad styles */
@media only screen and (max-width: 768px) {
  .coverLetter {
    display: none;
  }

  .imgBox {
    display: none;
  }

  .mobile_coverLetter {
    display: block;
  }

  .mobile_letter-container {
    display: flex;
    justify-content: center;
    min-height: 90rem;
  }

  .mobile_letter {
    width: 100%;
    margin: 0 10px 0 10px;
    position: relative;
    background-color: var(--white-color);
    box-shadow: none;
  }
  #mobile_letter-details {
    scroll-margin-top: 8.8em;
  }

  .letter:hover {
    transform: perspective(2000px) rotate(0deg);
  }

  .mobile_letter .mobile_letter-details h3 {
    text-align: center;
    font-size: 1.5em;
    padding: 0;
    margin: 0 auto;
    color: var(--coverLetter-color);
    font-weight: normal;
  }

  .mobile_letter .mobile_letter-details p {
    text-align: justify;
    margin: 0 auto 1em;
    line-height: 2;
    letter-spacing: 0.3px;
    font-size: 0.9em;
    font-family: var(--font-coverLetter);
    font-weight: normal;
    color: var(--letter-color);
    background-color: var(--theme-color);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  }

  .mobile_letter .mobile_letter-details p span {
    font-size: 0.8em;
    color: var(--letter-color);
  }

  .mobile_letter .mobile_letter-details p a {
    color: var(--main-color);
    text-decoration: underline;
  }
}
