/*: Smartphone styles */
.experiences {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto;
}

.experience {
  padding: 1.6em;
  max-width: 31.3em;
  margin: 0 auto;
}

.experiences-body {
  background-color: var(--experience-color);
  color: var(--white-color);
  /* border-radius: 20px; */
}

.wave {
  width: 100%;
  position: relative;
  top: 2px;
}

.wave_bottom {
  transform: scaleY(-1);
  top: -2px;
}

.experiences-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.9em;
  font-weight: 500;
  margin: 1.6em;
}

.experience-date {
  font-size: 1.6em;
  font-weight: bold;
  color: var(--yellow-color);
}

.experience-company {
  font-size: 1.3em;
  text-transform: uppercase;
  margin-top: 0.3em;
}

.experience-position {
  font-size: 1.1em;
  margin-top: 1.3em;
}

.experience-description {
  margin-top: 0.6em;
}

.experience-description ul li {
  padding-bottom: 0.6em;
  font-size: 1.1em;
  line-height: 1.5;
}

.experience-description .sublist {
  margin-top: 1rem;
}

/*: Lightbox projects box styles */
.experience-description .lista-proyectos-1,
.experience-description .lista-proyectos-2,
.experience-description .lista-proyectos-3 {
  border-radius: 3px;
  padding: 0.5rem;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.experience-description ul li span {
  font-size: 0.9em;
  font-style: italic;
}

.experience-description ul li small span {
  /* color: var(--logotype-color); */
  font-style: normal;
  /* News */
  color: var(--white-color);
  font-weight: 500;
  box-shadow: 0.5px 0.5px 3.5px 0px rgba(0, 0, 0, 0.5);
  padding: 0.2rem;
  background-color: rgba(37, 83, 126, 0.25);
}

/*: Lightbox Buttom styles */
.container-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em 0 3.5rem 0; 
}
.container-btn a {
  position: relative;
  font-size: 1em;
  letter-spacing: 0.1em;
  padding: 0.5em 1em;
  text-decoration: none;
  background: var(--experience-color);
  color: #fff;
  border-radius: 3%;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5);

  transition: 0.5s;
}
.container-btn a:hover {
  letter-spacing: 0.25em;
  background-color: var(--clr);
  color: white;
  /* box-shadow: 0 0 35px var(--clr); */
}

/*: Lightbox CLOSE Tag styles */
.xBox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.close1,
.close2,
.close3 {
  position: relative;
  background: var(--experience-color);
  color: white;
  text-decoration: none;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 1.2rem;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

/*: Classes & Animation for lightbox with display: block */
.lista-proyectos-1,
.lista-proyectos-2,
.lista-proyectos-3 {
  display: none;
}
.active {
  display: block;
  visibility: visible;
  opacity: 1;
  animation: fade 2s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 414px) {
  .container-btn a {
    /* font-size: 1.2em; */
    font-size: 1em;
    padding: 0.5em 0.75em;
    box-shadow: 0 0 35px var(--clr);
  }
}
/*: from iPad portrait to Desktops sizes */
@media only screen and (min-width: 501px) {
  /* .experiences {
    max-width: 90%;
  }
  .experience {
    max-width: 38em;
    padding: 1.6em 0;
  }

  .experiences-title {
    margin: 2.2em 0;
  }

  .experience-position {
    font-weight: bold;
    margin-top: 1.3em;
  }

  .experience-description {
    margin-top: 0.6em;
    line-height: 1.3;
  }

  .experience-description ul li {
    padding-bottom: 0.6em;
  }

  .experience_left {
    text-align: right;
  }
  .experience_right {
    text-align: left;
  }
  .experiences-grid {
    display: grid;
    grid-template-columns: auto 2px auto;
    gap: 1.3em 4.4em;
    padding: 1.4em;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
  }

  .line {
    background-color: var(--white-color);
    position: relative;
  }

  .line::before,
  .line::after {
    content: "";
    display: block;
    width: 1.3em;
    height: 1.3em;
    background-color: var(--white-color);
    border-radius: 50%;

    position: absolute;
    top: -1.3em;
    left: -0.6em;
  }

  .line::after {
    top: 100%;
    z-index: 1;
  } */

  .container-btn a {
    font-size: 1.2em;
    padding: 0.5em 0.75em;
    box-shadow: 0 0 35px var(--clr);
  }
}

/*: only Desktop & iPad landscape size */
@media only screen and (min-width: 1024px) {
  .experiences {
    max-width: 80%;
  }
  /* .experiences {
    max-width: 90%;
  } */
  .experience {
    max-width: 38em;
    padding: 1.6em 0;
  }

  .experiences-title {
    margin: 2.2em 0;
  }

  .experience-position {
    font-weight: bold;
    margin-top: 1.3em;
  }

  .experience-description {
    margin-top: 0.6em;
    line-height: 1.3;
  }

  .experience-description ul li {
    padding-bottom: 0.6em;
  }

  .experience_left {
    text-align: right;
  }
  .experience_right {
    text-align: left;
  }
  .experiences-grid {
    display: grid;
    grid-template-columns: auto 2px auto;
    gap: 1.3em 4.4em;
    padding: 1.4em;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
  }

  .line {
    background-color: var(--white-color);
    position: relative;
  }

  .line::before,
  .line::after {
    content: "";
    display: block;
    width: 1.3em;
    height: 1.3em;
    background-color: var(--white-color);
    border-radius: 50%;

    position: absolute;
    top: -1.3em;
    left: -0.6em;
  }

  .line::after {
    top: 100%;
    z-index: 1;
  }
  /*: Lightbox Buttom styles */
  .container-btn a {
    font-size: 1.3em;
  }
  .container-btn a:hover {
    letter-spacing: 0.25em;
    background-color: var(--clr);
    color: white;
    box-shadow: 0 0 35px var(--clr);
  }
}

@media only screen and (min-width: 1281px) {
  .container-btn a::before {
    content: "";
    position: absolute;
    inset: 2px;
    background-color: var(--experience-color);
  }
  .container-btn a span {
    position: relative;
    z-index: 100;
  }
  .container-btn a i {
    position: absolute;
    inset: 0;
    display: block;
  }
  .container-btn a i::before {
    content: "";
    position: absolute;
    top: -3.5px;
    left: 80%;
    width: 10px;
    height: 5px;
    border: 2px solid var(--clr);
    background-color: var(--experience-color);
    transform: translateX(-50%);
    transition: 0.5s;
  }
  .container-btn a:hover i::before {
    width: 20px;
    left: 20%;
  }
  .container-btn a i::after {
    content: "";
    position: absolute;
    bottom: -3.5px;
    left: 20%;
    width: 10px;
    height: 5px;
    border: 2px solid var(--clr);
    background-color: var(--experience-color);
    transition: 0.5s;
  }
  .container-btn a:hover i::after {
    width: 20px;
    left: 80%;
  }
}
