/*: Smartphone styles */
.otherSkills {
  max-width: 61.3rem; /* 61.25rem = 980px */
  margin: 0 auto;
}

.otherSkills-title {
  font-size: 1.6em;
  /* margin: 0.625em auto; */
  margin: 2rem auto;
  font-weight: bold;
  /* text-transform: uppercase; */
  text-align: center;
  color: var(--primary-color);
}

.otherSkills-subtitle {
  font-size: 1.3em;
  /* margin: 3.2em auto 2.5rem auto; */
  margin: 2rem auto;
  font-weight: bold;
  text-align: center;
  color: var(--skill-color);
}

.otherSkills-list {
  list-style: none;
  padding: 0;
  text-align: center;

  /*# Solo para igualar a Skills   */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.otherSkills-skill {
  font-size: 1em;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 42px;
  padding: 0.5em 0.7em;
  margin: 0.6em;
}

/*: iPads portrait styles */
@media only screen and (min-width: 768px) {
  .otherSkills-title {
    font-size: 2em;
    /* margin: 1.6em auto; */
    margin: 0 auto;
  }
  .otherSkills-subtitle {
    font-size: 1.25em;
    margin: 3.1em auto;
  }
  .otherSkills-skill {
    font-size: 1.5em;
    /* padding: 0.5em 0.7em;
    margin: 0.6em;  */
  }
}

/*: Desktop & iPads landscape styles */

@media only screen and (min-width: 1024px) {
  .otherSkills-title {
    font-size: 2em;
  }

  .otherSkills-subtitle {
    font-size: 1.6em;
    margin: 1.9em auto;
  }

  /* .security .otherSkills-subtitle {
    font-size: 1.3em;
    margin: 1.9em auto;
  } */

  .otherSkills-skill {
    font-size: 1.25em;
    /* padding: 0.5em 0.7em; */
    /* margin: 0.6em;  */
  }

  .otherSkills-list {
    /*_ Solo para igualar a Skills   */
    display: block;
  }

  .otherSkillsGrid-container {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
      "mainframe networking security"
      "mainframe networking security";
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(15.8em);
    grid-gap: 2px;
  }

  .mainframe {
    grid-area: mainframe;
    justify-self: start;
    align-self: flex-start;
  }

  .networking {
    grid-area: networking;
    justify-self: center;
    align-self: flex-start;
  }

  .security {
    grid-area: security;
    justify-self: flex-end;
    align-self: flex-start;
  }
}
