.overlay-fondo-oscuro {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  /* background-color: transparent; */
  background-color: rgba(0, 0, 0, 0.5);
}
.profile {
  text-align: justify;

  caret-color: transparent;
  color: #fff;
  position: relative;
  width: 100%;
  max-height: max-content;
  background-image: url(".././img/mainFoto.png");
  background-size: cover;
  background-position: center;
}

.profile-info {
  margin-bottom: 1.6em;
}

/* .profile-title {
  font-size: var(--step-2);
  margin: 1em 0 1.25em 0;
  font-family: var(--font-profile);
  font-weight: bold;
  text-align: left;
}

.profile-title {
  padding-top: 0.5em;
} */
.profile-details h1 span {
  font-size: var(--step-0);
}

.profile-details {
  font-size: var(--step--1);
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: normal;
  margin: 1em 0;
  color: #fff;
  padding: 0.5rem 1rem;
  box-shadow: -10px 20px 35px rgba(0, 0, 0, 0.15);
  outline: none;
  border-radius: 5px;
}

.profile-details.spanish {
  font-size: var(--step--1);
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: normal;
  margin: 1em 0;
  color: #fff;
  padding: 0 1rem;
  box-shadow: -10px 20px 35px rgba(0, 0, 0, 0.15);
  outline: none;
  border-radius: 5px;
}

.profile-details-sec {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: normal;
  margin: 1em 0;
  color: var(--text-color);
  padding: 0.5rem 1rem;
  transition: 0.5s;
  box-shadow: -10px 20px 35px rgba(0, 0, 0, 0.15);
  outline: none;
  border-radius: 5px;
  opacity: 1;
}

.transition-class {
  transition: opacity 0.5s ease;
}

.profile-details-sec a {
  color: var(--logotype-color);
}

.profile-details,
.profile-details-sec small {
  letter-spacing: 0.5px;
}

.profile-details-sec {
  /* position: relative;
  left: -200%; para la animación */
  display: none;
}

.profile-details a {
  background-color: var(--background-boton-color);
  color: var(--boton-contact-color);
}

.profile-details span a:hover {
  opacity: 0.5;
}

.profile-details small {
  letter-spacing: 0.5px;
}

.profile-details span.certified {
  font-size: var(--step--2);
  font-family: open sans condensed;
  font-weight: 100;
  background-color: var(--text-color-small);
  color: white;
}

.profile-details small.empresas {
  background-color: var(--text-color-small);
  color: white;
}

.btnBx {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0.5em;
  background-color: transparent;
  transition: 0.5s;
}

/* .btnBx button span {
  font-size: 0.8em;
  font-weight: none;
} */

/* .btnBx a {
  min-width: 100px;
} */
/* .btnBx a span {
  font-size: 0.8em;
  font-weight: none;
} */

.profile-btn {
  background-color: var(--background-boton-color);
  color: var(--boton-contact-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  font-size: 0.9em;
  font-weight: bold;
  padding: 0.5em 1em;
  margin: 0 2em;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.5s;
}

.profile-btn:hover {
  filter: brightness(130%);
  opacity: 0.5;
  color: white;
}

.profile-btn-leerMas {
  display: inline-block;
  background-color: var(--background-boton-color);
  color: var(--boton-contact-color);
  box-shadow: -10px 20px 35px rgba(0, 0, 0, 0.15);
  border: none;
  font-size: var(--step--1);
  border-radius: 5px;
  /* padding: 0.05em 1em 0.05em 0.5em; */
  padding: 0.25em 0.8em;
  margin: 0.5em 1em;
  backdrop-filter: blur(5px);
  opacity: 0.8;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}

.profile-btn-leerMas a:hover {
  filter: brightness(130%);
  color: white;
}

.coverLetter {
  display: none;
}

/* Animación para el parrafo secundario */
/* .contenedor-animacion {
  overflow: hidden;
  width: 400px;
}

.animar {
  position: relative;
  left: -200%;
  animation: mover 1s ease-in-out 0s;
}

@keyframes mover {
  from {
    left: -200%;
  }
  to {
    left: 0;
  }
} */

/* Código para colocar una imágen a la izquierda del texto en la sección Profile */

/* .profile-img-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 14%;
}

.profile-img {
  border-radius: 50%;
  max-width: 7em;
  outline: none;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.5);
}

.profile-img-line {
  background-color: var(--logotype-color);
  height: 0.9em;
  position: absolute;  
  width: 50%;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
} */
/* Botón ...leer más */

/*: Smartphones styles */
/* @media (min-width: 0px) and (max-width: 413px) {
  .btnBx {
    flex-direction: column;
    gap: 20px;
  }
} */
@media (min-width: 0px) and (max-width: 500px) {
  /* .btnBx {
    flex-direction: column;
    gap: 20px;
  } */
  .profile {
    background-position: right;
  }
  .profile-details,
  .profile-details.spanish {
    font-size: 0.82em;
    text-align: justify;
  }
  /* .overlay {
    background-color: rgba(0, 0, 0, 0.7);
  } */
}

@media screen and (min-width: 414px) {
  /* .profile-img-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile-img {   
    max-width: 12em;
  }
  .profile-img-line {
    background-color: var(--logotype-color);
    height: 0.9em;
    width: 210px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  } */
  /* .btnBx {
    flex-direction: column;
    gap: 20px;
  } */
  .profile-title {
    margin: 2rem 0 0 1.2rem;
  }
}

/*: iPad portrait styles */
@media only screen and (min-width: 768px) {
  .profile {
    margin: 0 auto;
  }
  .profile-title {
    font-size: var(--step-1);
    margin: 1.25em 0;
  }
  .profile-details,
  .profile-details-sec {
    margin: 1.25em 0;
  }
  .profile-btn {
    margin: 0.5em 2.5em;
  }
  /* .btnBx {
    flex-direction: row;
    gap: 0;
  } */
}
/*: iPad landscape styles */
@media screen and (min-width: 1024px) {
  .profile {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .profile-info {
    margin: 0 0 0 4em;
  }
  .profile-title {
    font-size: var(--step-1);
    margin: 0.6em 0;
  }
  .profile-details,
  .profile-details-sec {
    width: 100%;
    min-width: 40em;
    max-width: 45em;
    text-align: justify;
  }
  /* .profile-img {
    transform: scaleX(-1);
  }
  .profile-img-line {
    width: 100%;
  } */
}

/*: Desktop styles */
@media screen and (min-width: 1300px) {
  .profile {
    justify-content: space-evenly;
  }
  .profile-title {
    font-size: var(--step-1);
    /* margin: 0.6em 0; */
    margin: 0;
  }
  .profile-details {
    margin: 1.3em 0;
    /* text-align: justify; */
  }
  /* .profile-img {
    transform: scaleX(-1); se voltea de la imagen
  } */
}
