/*: Smartphones styles */
.profile {
  text-align: justify;
  caret-color: transparent;
}

.profile-info {
  margin-bottom: 1.6em;
}

.profile-title {
  font-size: var(--step-2);
  margin: 1em 0 1.25em 0;
  color: var(--logo-color);
  font-family: var(--font-profile);
  font-weight: bold;
  text-align: left;
}

.profile-title .name {
  padding-top: 0.5em;
}

.profile-details {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: normal;
  margin: 1.3em 0;
  color: var(--text-color);
  padding: 0 1rem;
}

.profile-details-sec {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: normal;
  margin: 1.3em 0;
  color: var(--text-color);
  padding: 0 1rem;
  transition: 5s;
}

.profile-details-sec a {
  color: var(--logotype-color);
}

.profile-details,
.profile-details-sec small {
  letter-spacing: 0.5px;
}

.profile-details-sec {
  /* position: relative;
  left: -200%; */
  display: none;
}

/* Botón ...leer más */
.profile-btn-leerMas {
  display: inline-block;
  background-color: transparent;
  color: var(--logo-color);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
  border: none;
  font-size: 0.75em;
  border-radius: 5px;
  padding: 0.05em 1em 0.05em 0.5em;
  margin: 0.5em 1em;
  backdrop-filter: blur(5px);
  opacity: 0.8;
  text-align: center;
  cursor: pointer;
}

.profile-btn-leerMas:hover {
  filter: brightness(130%);
}
.profile-details a {
  color: var(--logotype-color);
}

.profile-details span a:hover {
  color: var(--main-color);
  opacity: 0.5;
}

.profile-details small {
  letter-spacing: 0.5px;
}

.btnBx {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 20px auto;
  border: 1px solid red;
  align-items: center;
  text-align: center;
  margin-top: 0.9em;
}

.btnBx button span {
  font-size: 0.8em;
  font-weight: none;
}

.btnBx a {
  min-width: 100px;
}
.btnBx a span {
  font-size: 0.8em;
  font-weight: none;
}

.profile-btn {
  background-color: var(--background-boton-color);
  color: var(--white-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border: 2px solid #9d8d6c;
  font-size: 0.9em;
  font-weight: bold;
  padding: 0.5em 1em;
  margin: 0 2em;
  border-radius: 7px;
  cursor: pointer;
}

.profile-btn:hover {
  filter: brightness(130%);
}

.profile-img-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 14%;
}

.profile-img {
  border-radius: 50%;
  max-width: 7em;
  outline: none;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.5);
}

.profile-img-line {
  background-color: var(--logotype-color);
  height: 0.9em;
  position: absolute;
  /* width: 100%; */
  width: 50%;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.coverLetter {
  display: none;
}

/* Animación para el parrafo secundario */
/* .contenedor-animacion {
  overflow: hidden;
  width: 400px;
}

.animar {
  position: relative;
  left: -200%;
  animation: mover 1s ease-in-out 0s;
}

@keyframes mover {
  from {
    left: -200%;
  }
  to {
    left: 0;
  }
} */

/*: Smartphones styles */
/* @media screen and (max-width: 413px) {
  .btnBx {
    flex-direction: column;
    gap: 20px;
    border: 1px solid green;
  }
} */

@media screen and (min-width: 414px) {
  .profile-img-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile-img {
    /* width: 100%; */
    max-width: 12em;
  }
  .profile-img-line {
    background-color: var(--logotype-color);
    height: 0.9em;
    width: 210px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
  .btnBx {
    flex-direction: column;
    gap: 20px;
    border: 1px solid blue;
  }
}

/*: iPad portrait styles */
@media only screen and (min-width: 768px) {
  .profile {
    margin: 0 auto;
  }
  .profile-title {
    font-size: var(--step-2);
    margin: 1.25em 0;
  }
  .profile-details,
  .profile-details-sec {
    margin: 1.25em 0;
  }
  .profile-btn {
    margin: 0.5em 2.5em;
  }

  .btnBx {
    flex-direction: row;
    gap: 0;
    border: 1px solid black;
  }
}

/*: iPad landscape styles */
@media screen and (min-width: 1024px) {
  .profile {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .profile-info {
    margin: 0 0 0 4em;
  }
  .profile-title {
    font-size: var(--step-2);
    margin: 0.6em 0;
  }
  .profile-details,
  .profile-details-sec {
    width: 100%;
    min-width: 40em;
    /* margin: 1.25em 0; */
    text-align: justify;
  }

  .profile-img {
    transform: scaleX(-1);
  }
  .profile-img-line {
    width: 100%;
  }
  /* .btnBx {
    display: inline-flex;
  } */
}

/*: Desktop styles */
@media screen and (min-width: 1300px) {
  .profile {
    justify-content: space-evenly;
  }
  .profile-title {
    font-size: var(--step-2);
    /* margin: 0.6em 0; */
    margin: 0;
  }
  .profile-details {
    margin: 1.3em 0;
    text-align: justify;
  }
  /* .btnBx {
    margin: 0.5em 3.5em;
  } */

  .profile-img {
    transform: scaleX(-1); /* se voltea la imagen */
  }
}
