/*: Smartphone styles */
.skills {
  max-width: 61.25rem; /* 61.25rem = 980px */
  margin: 0 auto;
}

.skills-title {
  font-size: 1.6em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-color);
}

.skills-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-skill {
  font-size: 1.1em;
  /* font-size: clamp(0.75rem, 0.341rem + 1.58vw, 1.1rem); */
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 42px;
  padding: 0.5em 0.7em;
  margin: 0.6em;
}

/*: iPads portrait styles */
@media only screen and (min-width: 768px) {
  .skills-title {
    font-size: 2em;
  }
  .skills-skill {
    font-size: 1.25em;
    margin: 1.3em;
  }
}

/*: Desktop & iPads landscape styles */
@media only screen and (min-width: 1024px) {
  .skills-title {
    font-size: 2em;
  }

  .skills-skill {
    font-size: 1.25em;
    margin: 1.3em;
  }
}
